<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fb241574705066740</string>
      </array>
      </dict>
    </array>
    <key>FacebookAppID</key>
    <string>241574705066740</string>
    <key>FacebookClientToken</key>
    <string>d9430a61e41d8b11eeac0bc37d683a8a</string>
    <key>FacebookDisplayName</key>
    <string>Habits Tracker</string>
    
    
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-share-api</string>
    </array>
    
	<key>NSHealthShareUsageDescription</key>
	<string>This app requires to acces your health stats</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.346850588416-cg4ks3snk2rou6v1p0r8j9vt1409931t</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
